html {
    font-family: courier; 
    background-color: tomato;
    color: #ffffffff;
    }
h1 {
    font-size: 200%;
    }
h2 {
    border: 4px dotted powderblue;
    }
h3 {
    border: 4px solid powderblue;
    padding: 5%;
    }
h4 {
    border: 4px solid powderblue;
    margin: 7%;
    }
p {
    text-align: center;
    font-weight: bold; 
    }
